<h2>Congratulations! Your account had been approved.</h2>

Hi <%= @user.first_name %>,

<br><br>
You'll be delighted to know that your account had been successfully approved by the Administrator. This means that you can now log in to your account and start trading. 
<br><br>
You may sign in <%= link_to 'here.', new_user_session_url %>
<br><br>
Thank you and have a great day!
<br><br>
Stockit Team
