<div class="container">
  <%# form will submit to search_stock_path in stocks controller%>
  <div class="col-lg-6 mx-auto">
    <% if current_user.broker? %>
      <h1 class="fs-5">Add stocks to your portfolio</h1>
    <% else %>
      <h1 class="fs-5">Search for stock prices</h1>
    <% end %>
    <%= form_tag search_stock_path, remote: true, method: :get do %>
      <div class="form-group row">
        <div class="p-0 position-relative">
          <%= text_field_tag :stock, params[:stock], placeholder: "Enter stock ticker symbol", autofocus: true, class: "form-control form-control-md", style: "text-transform: uppercase" %>
          <div class="p-0 position-absolute start-100 bottom-0">
            <%= button_tag type: :submit, class: "btn btn-primary" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div id="search-result">
      <%= render 'stocks/search_result' %>
    </div>
  </div>
</div>
