<main class='card shadow position-absolute top-50 start-50 translate-middle p-5'>
  <div>
    
    <p>
      <span class="text-muted">Email: </span>
      <%= @user.email %>
    </p>
    <p>
      <span class="text-muted">Full Name: </span>
      <%= @user.full_name %>
    </p>
    <p> 
      <span class="text-muted">Account: </span>
      <%= @user.role.name %>
    </p>
  </div>
  <%= link_to 'Back', users_admin_index_path, class:'btn btn-primary btn-sm float-end' %>
</main>



