<table class='table table-bordered table-hover mt-4 shadow-sm'>
  <thead class="thead-dark">
    <tr>
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <% @stocks.each do |stock| %>
    <tbody>
      <tr class='bg-white'>
        <td><%= link_to stock.symbol,  stock_path(stock), class: 'text-dark' %></td>
        <td><%= stock.company_name %></td>
        <td>$<%= stock.price %></td>
      </tr>
    </tbody>
  <% end %>
</table>
