<div class="mx-4">
  <h1 class="fs-5">Adds stocks to your portfolio</h1>
  <div class='table-responsive'>
    <table class='table table-bordered table-hover mt-4 shadow-sm'>
      <thead class="bg-primary">
        <tr>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @stocks.each do |stock| %>
        <tbody>
          <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.company_name %></td>
            <td><%= link_to 'View', stock_path(stock), method: :get, class: 'btn btn-outline-primary btn-sm w-100' %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
