<div class="mx-4">
  <table class='table table-bordered table-hover mt-4'>
    <thead class="thead-dark">
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @stocks.each do |stock| %>
      <tbody>
        <tr>
          <td><%= stock.symbol %></td>
          <td><%= stock.company_name %></td>
          <td><%= link_to 'Show', stock_path(stock), method: :get, class: 'btn btn-success btn-sm w-100'%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
