<li class="nav-item">
  <%= link_to "All Users", users_admin_index_path, class: "btn btn-outline-secondary mx-2 text-decoration-none #{current_class?(users_admin_index_path)}" %>
</li>
<li class="nav-item mx-2 position-relative">
  <%= link_to "Pending Brokers", pending_brokers_path, class: "btn btn-outline-secondary text-decoration-none #{current_class?(pending_brokers_path)}"%>
  <% if !@unapproved_users.empty? %>
    <span class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger'>
      <%= @unapproved_users.count %>
    </span>
  <% end %>
</li>
