<li class="nav-item">
  <%= link_to "My Portfolio", my_portfolio_path, class: "btn btn-outline-secondary mx-2 text-decoration-none #{current_class?(my_portfolio_path)}" %>
</li>
<li class="nav-item">
  <%= link_to "Search Stocks", stocks_search_path, class: "btn btn-outline-secondary mx-2 text-decoration-none #{current_class?(stocks_search_path)}" %>
</li>
<% if current_user.buyer? %>
  <li class="nav-item">
    <%= link_to "Stock Market", buyer_stock_market_path, class: "btn btn-outline-secondary mx-2 text-decoration-none #{current_class?(buyer_stock_market_path)}" %>
  </li>
<% end %>
